<div class="widget-wrapper" >
                                            <br>
	<h4>Admin Menu</h4>

	<div class="btn-group">
	    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Players</button>

	    <div class="dropdown-menu">
	        <a class="dropdown-item" href="/admin/users">Registered players</a>
	        <div class="dropdown-divider"></div>
	        <a class="dropdown-item" href="/admin/users/free">Free players</a>
	        <div class="dropdown-divider"></div>
	        <a class="dropdown-item" href="/admin/users/banned">Banned players</a>
	        <div class="dropdown-divider"></div>
	    </div>
	</div>
	<div class="btn-group">
	    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Games</button>

	    <div class="dropdown-menu">
	        <a class="dropdown-item" href="/admin/rooms75">Rooms - 75 </a>
	        <div class="dropdown-divider"></div>
	        <a class="dropdown-item" href="/admin/rooms90">Rooms - 90</a>
	        <div class="dropdown-divider"></div>
	    </div>
	</div>
	<div class="btn-group">
	    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</button>

	    <div class="dropdown-menu">
	    	<a class="dropdown-item" href="/admin/settings">Admin Settings</a>
	        <div class="dropdown-divider"></div>
	        <a class="dropdown-item" href="/admin/setting/view">Broadcast messages</a>
	        <div class="dropdown-divider"></div>
	    </div>
	</div>
</div>