<!-- login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header modal-head">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4> -->
            </div>
            <!--Body-->
            <div class="modal-body">
                <!--Form without header-->
                <div class="card" style="background: url(/assets/img/wave.png)">
                    <div class="card-block">

                        <!--Header-->
                        <div class="text-center">
                            <h4><i class="fa fa-lock" ></i> Login</h4>
                            <span id="loginLabel"></span>
                            <hr class="mt-2 mb-2">
                        </div>

                        <!--Body-->
                        <div class="md-form">
                            <i class="fa fa-envelope prefix"></i>
                            <input type="email" name="email"  id="email" class="form-control">
                            <label for="form2">Your email</label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-lock prefix"></i>
                            <input type="password" name="password"  id="password" class="form-control">
                            <label for="form4">Your password</label>
                        </div>

                        <!-- <div class="text-center">
                            <button class="btn btn-deep-purple">Login</button>
                        </div> -->

                    </div>

                    <!--Footer-->
                    <!-- <div class="modal-footer">
                        <div class="options">
                            <p>Not a member? <a href="#">Sign Up</a></p>
                            <p>Forgot <a href="#">Password?</a></p>
                        </div>
                    </div> -->

                </div>
<!--/Form without header-->
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button"  id="login_btn" class="btn btn-primary">Sign In</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- /.login modal preview-->

