<!-- register Modal -->
<div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4> -->
            </div>
            <!--Body-->
            <div class="modal-body">
                <!--Form with header-->
<div class="card">
    <div class="card-block">

        <!--Header-->
       <!--  <div class="form-header blue-gradient">
            <h3><i class="fa fa-user"></i> Register:</h3>
        </div> -->
        <!--Header-->
        <div class="text-center">
            <h4><i class="fa fa-user"></i> Register</h4>
            <hr class="mt-2 mb-2">
        </div>

        <!--Body-->
        
        <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="email" name="remail"  id="remail" class="form-control">
            <label for="form2">Your email</label>
        </div>

        <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="password" name="rpassword" id="rpassword"  class="form-control">
            <label for="form4">Your password</label>
        </div>
        <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input type="text" name="fname"  id="fname" class="form-control">
            <label for="form3">Your first name</label>
        </div>
        <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input type="text" name="lname"  id="lname" class="form-control">
            <label for="form3">Your last name</label>
        </div>
        <!-- <div class="text-center">
            <button class="btn btn-deep-purple">Register</button>
        </div> -->

        <!-- <div class="text-center">
            <button class="btn btn-indigo">Sign up</button>
            <hr>
            <fieldset class="form-group">
                <input type="checkbox" id="checkbox1">
                <label for="checkbox1">Subscribe me to the newsletter</label>
            </fieldset>
        </div> -->

    </div>
</div>
<!--/Form with header-->
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" id="register_btn" class="btn btn-primary">Register</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- /.register modal preview-->


















<!-- Modal register-->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content body-background">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="registerLabel">Register</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-8">
                <div class="form-horizontal" > 
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-5 control-label">*Email</label>
                    <div class="col-sm-7">
                      <input type="email" name="remail"  id="remail" placeholder="Email">
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-5 control-label">*Password</label>
                    <div class="col-sm-7">
                      <input type="password" name="rpassword" id="rpassword" placeholder="Password">
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-5 control-label">First Name</label>
                    <div class="col-sm-7">
                      <input type="text" name="fname"  id="fname" placeholder="First Name">
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-5 control-label">Last Name</label>
                    <div class="col-sm-7">
                      <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                      <button type="submit" id="register_btn" class="btn btn-default">Register</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>