<%- include('header'); %>
    <main>

        <!--Main layout-->
        <div class="container">
        <hr class="extra-margins">
            <!--First row-->
            <div class="row" >
                <div class="col-md-12">
                    <!--Card Info-->
                    <div class="card card-main  z-depth-2" >
                        <div class="card-block pages">
                            <h1 class="h1-responsive" >About Us</h1>
                            <p >Thank you for stopping by our site. It’s the place for online bingo like no other. Woodbingo offers you to play your favorite game and chat with your friends in the biggest online bingo community.</p>
<p >Within recent years, Woodbingo has become a truly unique and by far, the most popular online bingo place – hundreds of bingo fans play it simultaneously in more than 40 bingo rooms. We invite you to join our growing club, enjoy our fascinating game and chat with your friends and acquaintances, colleagues or, simply like-minded souls.</p>
<p >
It’s just one click away
Woodbingo offers a truly versatile experience. You may choose to play free for a small cash prizes or buy tickets for a higher reward. Whatever option you choose, the game is just one click away.</p>
<p >It’s made with Flash and HTML5(coming soon), meaning there’s no extra downloads or software installations. Just click and wait a few seconds for game to load. Being gamers at heart, we’ve built the game we enjoy ourselves. This makes us believe you will have a great time playing our bingo.</p>
<p >
Play for free or for money?
There are free bingo rooms that we open at certain times. There, you can still win real money prizes without spending a penny. Once your winnings go above the certain minimum level, you can withdraw it or use to play further and buy tickets in the paid rooms.
When playing for money, there’s plenty of rooms with different ticket price and various maximum number of cards per player allowed. Obviously, reaching a certain limit on the balance makes your win available for withdrawal. Making deposits is safe and simple.</p>
<p >
Enjoy playing Bingo!
Each game round takes about 3 minutes to 10 minutes, including ticket sales stage. But there’s plenty of rooms out there – it’s never a problem to join one and buy some tickets just in time before next round starts.</p>
<p >Once you’re done purchasing, it’s the time to enjoy the game. With a bit of luck you could become a Bingo winner with a full card, or be the first to complete one of constantly changing patterns. Online bingo also brings a great advantage: you don’t need to mark the numbers on your tickets, since computer does it automatically. Instead, you can enjoy your time by chatting with other players. There’s also another great feature available in the paid rooms. You can set up the game to automatically buy tickets in advance for you, so you never miss a new game round.</p>
<p >Now that you’ve learned a bit more about the game, you’re ready to start your enthralling journey. We wish you the best of luck at Woodbingo!</p>
<p >Should you have any questions, requests or concerns, do not hesitate to contact us using the feedback form in the game panel. We take fairly reasonable time to resolve every issue. Our support team is always on standby and available 7 days a week.</p>
                        </div>
                    </div>
                    <!--/.Card Info-->
                    
                </div>
            </div>

            <hr class="extra-margins">

   
        </div>
        <!--/.Main layout-->


    </main>

   <%- include('footer'); %>

 
