<%- include('header'); %>
    <main>

        <!--Main layout-->
        <div class="container">
        <hr class="extra-margins">
            <!--First row-->
            <div class="row" >
                <div class="col-md-12">
                    <!--Card Info-->
                    <div class="card card-main  z-depth-2" >
                        <div class="card-block pages">
            
                           <h1 class="h1-responsive">Copyright</h1>

    <p>All rights to information (text, sound, image, video, etc) that you will find rest with Throwing Wood Media in copyright on this site. (www.woodbingo.com and all underpages) Total or partial acquisition, placement on other sites, copying in any other manner whatsoever and / or commercial use of this information is not permitted without express written consent of the Board of Throwing Wood Media or unless the following conditions are met.</p>
<p>This information may be viewed on a screen, downloaded onto a hard disk or printed, provided that this is done for personal, informational and non-commercial use, provided that the documents are not changed, provided that the following copyright notice in any copy present is: “© Copyright Throwing Wood Media. All rights reserved. Protected by the copyright laws of the Netherlands Antilles and international treaties. “, Provided copyright, trademark and other applicable texts can not be removed and that the information is not used in any other work or publication in any medium.</p> 


                        </div>
                    </div>
                    <!--/.Card Info-->
                    
                </div>
            </div>

            <hr class="extra-margins">

   
        </div>
        <!--/.Main layout-->


    </main>

   <%- include('footer'); %>

 
