<%- include('header'); %>
    <main>

        <!--Main layout-->
        <div class="container">
        <hr class="extra-margins">
            <!--First row-->
            <div class="row" >
                <div class="col-md-12">
                    <!--Card Info-->
                    <div class="card card-main  z-depth-2" >
                        <div class="card-block pages" >
      
                            
   <h1 class="h1-responsive">Bingo bonuses</h1>

    <p>Bingo bonuses at Woodbingo.com</p>
<p>On this page you will find an overview of all our Bingo Promotions. Woodbingo believes that online bingo games should be fun and affordable. That’s why we use different bonuses than other bingo websites. We do not work with complicated bonus meters or difficult conditions and you don’t have to unlock your bonuses. Check out our bonus actions we have at this moment:</p>
<h2>Welcome Bonus</h2>
<p>The welcome bonus is a special bonus for our new players. All new players will receive €2,50 free bet welcome bonus when they log in on our website. This only counts for 1 account per person. </p>
<h2>Deposit Bonus</h2>
<p>Deposit Bonus every Monday and Wednesday you will receive a deposit bonus. When you make a deposit you can get a bonus up to 200% of your deposit. For example if you make a deposit of €50,- and the deposit bonus is 100% you will receive €100,- . In our newsletters we will let you know what the amount of the deposit bonus will be. With our deposit bonus you can immediately play and win real cash prizes. </p>
<h2>Mega Jackpot</h2>
<p>The Mega Jackpot Bingo you will receive when you get a full bingo card within 48 balls. This jackpot can reach up to €500,-. Each room has it’s own Mega Jackpot. Higher book prices will win higher Mega Jackpots. Login to a game to see the amount of the current Mega Jackpot of your favorite bingo hall. </p>
<h2>Free Bingo Games</h2>
<p>Free Bingo Games in the silver room! You can play free bingo in the silver room all day and the bingo ticket will cost you nothing. Every hour we play a free round where you can win real cash money prizes. You can enter this room with one account per household at the same time. </p>
<p>This is not all! At Woodbingo Bingo, each room has extra bonuses. These bonuses are add on top the the regular bingo amount!</p>
<p>Our team is working daily to come up with new bingo bonuses. In our newsletter you will get information about the latest Bingo bonuses.</p>



                        </div>
                    </div>
                    <!--/.Card Info-->
                    
                </div>
            </div>

            <hr class="extra-margins">

   
        </div>
        <!--/.Main layout-->


    </main>

   <%- include('footer'); %>

 
