  <!--Footer-->
    <footer class="page-footer center-on-small-only primary-color-dark" style="margin-top: 0px;">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-lg-3 offset-lg-1 hidden-lg-down">
                    <h4 class="title">Wood Bingo</h4>
                    <p>Nothing beats the thrill of watching your numbers come up daily. </p>
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-lg-2 col-md-4 offset-lg-1">
                    <!-- <h5 class="title">First column</h5> -->
                    <ul>
                        <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                        <li><a href="/copyright">Copyright</a></li>
                        <li><a href="/responsible-gaming">Responsible gaming</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-lg-2 col-md-4">
                    <!-- <h5 class="title">Second column</h5> -->
                    <ul>
                        <li><a href="#!">Rounds Silver Room</a></li>
                        <li><a href="#!">Rounds Bingo 75</a></li>
                        <li><a href="#!">Rounds Booklet Bingo</a></li>
                        <li><a href="/depositbonus">Deposit Bonus</a></li>
                    </ul>
                </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

                <!--Fourth column-->
                <div class="col-lg-2 col-md-4">
                    <!-- <h5 class="title">Third column</h5> -->
                    <ul>
                        <li><a href="contact">Support</a></li>
                        <li><a href="contact">Contact Us</a></li>
                        <li><a href="/about-us">About Us</a></li>
                    </ul>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <hr>

        <!--Call to action-->
        <div class="call-to-action">
            <h4>Secure payment methods</h4>
            <i class="fa fa-cc-paypal fa-icon" aria-hidden="true"></i>
            <i class="fa fa-cc-visa fa-icon" aria-hidden="true"></i>
            <i class="fa fa-cc-mastercard fa-icon" aria-hidden="true"></i>
            <i class="fa fa-credit-card-alt fa-icon" aria-hidden="true"></i>
           
        </div>
        <!--/.Call to action-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid small">
                 Woodbingo.com is operated by Throwing Wood Media N.V. and licensed in Curacao, licence number 8048/JAZ2014-050
Our games are approved by GLI/TST
<br>
© 2015 Copyright

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="/assets/js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/assets/js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/assets/js/mdb.min.js"></script>


    <!-- index -->

        <%- include('modals/login'); %>
        <%- include('modals/register'); %>
<script type="text/javascript">
    $('#loginModal').on('shown.bs.modal', function () {
      $('#email').focus()
    })
</script>

    <!-- bingo75 -->
    <% if(Bingo.url == 'bingo75') { %>
        <script src="/assets/js/bingo75.js"></script>
    <% } %>


    <!-- bingo90 -->
    <% if(Bingo.url == 'bingo90') { %>
        <script src="/assets/js/bingo90.js"></script>
    <% } %>

    <script type="text/javascript">
    $('#login_btn').on('click', function(){
        var email = $('#email').val();
        var pass = $('#password').val();
        if($('#email').val() == '' || $('#password').val() == ''){
            $('#email, #password').addClass('error-red');
            return;
        } else {
            $.ajax({
              type: "POST",
              url: '/api/login',
              data: JSON.stringify({username:email, password:pass}),
              success: function(res){
                console.log('logged in'+ res);
                window.location.href = '/';
              },
              error:function(xhr){
                $('#loginLabel').addClass('error-red red').html('Username/password is wrong.!');
              },
              dataType: 'json',
              contentType: "application/json; charset=utf-8",
            });
        }
    });
    $('#register_btn').on('click', function(){
        var remail = $('#remail').val();
        var rpass = $('#rpassword').val();
        var fname = $('#fname').val();
        var lname = $('#lname').val();
        if(remail == '' || rpass == ''){
            $('#remail, #rpassword, #registerLabel').addClass('error-red');
            return;
        } else {
            $.ajax({
              type: "POST",
              url: '/api/register',
              data: JSON.stringify({username:remail, password:rpass,fname:fname,lname:lname}),
              success: function(res){
                $('#registerLabel').addClass('green_clr').html('Thanks for registering.!');
                
                setTimeout(function(){ $('#regModal').modal('hide'); }, 500);
              },
              dataType: 'json',
              contentType: "application/json; charset=utf-8",
              error:function(res){ 
                /*if(res.responseJSON.code == '11000'){
                   $('#registerLabel').addClass('red').html('User exits already.'); 
                   return;
                }*/
                $('#registerLabel').addClass('error-red red').html('User can\'t be created.');
              },
              complete:function(res){
                $('#login').modal('show');
              }
            });
        }
    });
</script>
</body>

</html>  


