<%- include('header'); %>
    <main>

        <!--Main layout-->
        <div class="container">
            <!--First row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <img class="flag" src="/assets/img/register-flag.png">
                        <div class="jackpot">
                            <img src="/assets/img/jackpot.png">
                        </div>
                        <div class="bonus">
                            <img src="/assets/img/bonus.png" class="img-fluid">
                            <a href="/register/" class="btn btn-danger">Claim your prize</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!--/.First row-->

            <hr class="extra-margins">

            <!--Second row-->
            <div class="row">
                <!--First columnn-->
                <div class="col-lg-4">
                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                        <img class="background" src="/assets/img/game-1-bg.jpg">
                            <img src="/assets/img/game-1-character.png" class="img-fluid character" alt="">
                            <a href="#">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block">
                            <div class="stars">
                                <img class="star" src="/assets/img/star-full.png">
                                <img class="star" src="/assets/img/star-full.png">
                                <img class="star" src="/assets/img/star-full.png">
                                <img class="star" src="/assets/img/star-half.png">
                                <img class="star" src="/assets/img/star-empty.png">
                            </div>
                            <!--Title-->
                            <h3 class="card-title">75 BALL BINGO</h3>
                            <!--Text-->
                            <p class="card-text">Our bingo cards start at the ridiculous price of 1 cent ,this means you can already start playing and winning hard cash in our special hall for 1 cent!</p>
                            <a href="/bingo75/rooms" class="btn btn-danger">PLAY NOW</a>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <!--First columnn-->

                <!--Second columnn-->
                <div class="col-lg-4">
                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                        <img class="background" src="/assets/img/game-2-bg.jpg">
                            <img src="/assets/img/game-2-character.png" class="img-fluid character" alt="">
                            <a href="#">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block">
                        <div class="stars">
                                <img class="star" src="/assets/img/star-full.png">
                                <img class="star" src="/assets/img/star-full.png">
                                <img class="star" src="/assets/img/star-full.png">
                                <img class="star" src="/assets/img/star-half.png">
                                <img class="star" src="/assets/img/star-empty.png">
                            </div>
                            <!--Title-->
                            <h3 class="card-title">90 BALL BINGO</h3>
                            <!--Text-->
                            <p class="card-text">90 BALL BINGO is perhaps our best bingo game. Throughout the day you play in one of our rooms. You could win high prizes daily. You buy a book, but this book does.</p>
                            <a href="/bingo75/rooms" class="btn btn-danger">PLAY NOW</a>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <!--Second columnn-->

                <!--Third columnn-->
                <div class="col-lg-4">
                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img class="background" src="/assets/img/game-3-bg.jpg">
                            <img src="/assets/img/game-3-character.png" class="img-fluid character" alt="">
                            <a href="#">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block">
                        <div class="stars">
                                <img class="star" src="/assets/img/star-full.png">
                                <img class="star" src="/assets/img/star-full.png">
                                <img class="star" src="/assets/img/star-full.png">
                                <img class="star" src="/assets/img/star-half.png">
                                <img class="star" src="/assets/img/star-empty.png">
                            </div>
                            <!--Title-->
                            <h3 class="card-title">CASINO GAMES</h3>
                            <!--Text-->
                            <p class="card-text">Join Casino platform width other players, we have different games for different levels available to experience the game as if you are playing in a regular casino!</p>
                            <a href="#" class="btn btn-danger">PLAY NOW</a>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <!--Third columnn-->
            </div>
            <!--/.Second row-->
            <hr class="extra-margins">
            <!--3rdrow-->
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron1">
                    <img src="/assets/img/bottom-flag.png" class="flag">
                    <div class="introduction-background"><img  src="/assets/img/introduction-background.png" style="margin-left: -9rem;
    margin-bottom: -2rem;width: 100%"></div>
                    <div style="margin: 4rem 0;text-align: center;">
                        <a href="#" class="btn btn-orange">SILVER ROOM</a>
                        <a href="#" class="btn btn-orange">BONUS ROUND 75</a>
                        <a href="#" class="btn btn-orange">BOOKLET ROUND</a>
                    </div>
                    <div class="introduction-content" style="width: 65%;text-align: center;
    float: right;">
                    <img src="/assets/img/introduction-image.png" style="width: 100%;">
                    <p style="margin: 3rem 0;">Nothing beats the thrill of watching your numbers come up daily.</p>
                    <a href="/roundsbingo/" class="btn btn-danger">START WINNING NOW</a>
                    <p>...come <strong>claim your price!</strong></p>
                </div>
                        
                    </div>
                    
                </div>
            </div>
            <!--/.3rd row-->

        </div>
        <!--/.Main layout-->


    </main>

   <%- include('footer'); %>

 
<script type="text/javascript">
    $('#login_btn').on('click', function(){
        var email = $('#email').val();
        var pass = $('#password').val();
        if($('#email').val() == '' || $('#password').val() == ''){
            $('#email, #password').addClass('error-red');
            return;
        } else {
            $.ajax({
              type: "POST",
              url: '/api/login',
              data: JSON.stringify({username:email, password:pass}),
              success: function(res){
                console.log('logged in'+ res);
                window.location.href = '/bingo75';
              },
              error:function(xhr){
                $('#loginLabel').addClass('error-red red').html('Username/password is wrong.!');
              },
              dataType: 'json',
              contentType: "application/json; charset=utf-8",
            });
        }
    });
    $('#register_btn').on('click', function(){
        var remail = $('#remail').val();
        var rpass = $('#rpassword').val();
        var fname = $('#fname').val();
        var lname = $('#lname').val();
        if(remail == '' || rpass == ''){
            $('#remail, #rpassword, #registerLabel').addClass('error-red');
            return;
        } else {
            $.ajax({
              type: "POST",
              url: '/api/register',
              data: JSON.stringify({username:remail, password:rpass,fname:fname,lname:lname}),
              success: function(res){
                $('#registerLabel').addClass('green_clr').html('Thanks for registering.!');
                
                setTimeout(function(){ $('#regModal').modal('hide'); }, 500);
              },
              dataType: 'json',
              contentType: "application/json; charset=utf-8",
              error:function(res){ 
                /*if(res.responseJSON.code == '11000'){
                   $('#registerLabel').addClass('red').html('User exits already.'); 
                   return;
                }*/
                $('#registerLabel').addClass('error-red red').html('User can\'t be created.');
              },
              complete:function(res){
                $('#login').modal('show');
              }
            });
        }
    });
</script>