<%- include('header'); %>
    <main>

        <!--Main layout-->
        <div class="container">
        <hr class="extra-margins">
            <!--First row-->
            <div class="row" >
                <div class="col-md-12">
                    <!--Card Info-->
                    <div class="card card-main  z-depth-2" >
                        <div class="card-block pages">
                
                           <h1 class="h1-responsive">Responsible Gaming</h1>

    <p><strong>Do you play too much?</strong></p>
<p>Gaming can be both entertaining and profitable. But you can’t always win. Losing is a part of the game and you have to be prepared for it. Therefore you should play responsibly, and not risk money that you can’t afford to lose. Gaming can also be addictive and make you lose perspective of time and money. We at woodbingo.com want all your gaming experiences to be as positive as possible, even if you lose. Therefore we work hard to help you control your own gaming.</p>
<p><strong>Do you need to cool off?</strong></p>
<p>We can also help you take a cooling off period (7 days) or block the service six months. If you think you may have a problem we can give you advice on where to turn for professional help.</p>
<p>Are you worried about your children?</p>
<p>Are you worried about your children having access to this site? If you as an adult share your computer with under-aged persons, always make sure that access to usernames, passwords, and banking-details is prevented. There is also software you can use for this purpose. Two examples are: www.netnanny.com and www.cyberpatrol.com. If you need additional help you can always e-mail us at info@woodbingo.com</p>
<p><strong>18+</strong></p>
<p>It is illegal for anyone under the age of 18 to open an account and/or to gamble with woodbingo.com. The Company reserves the right to request proof of age from any customer and may suspend an account until adequate verification is received.</p>
<p>Are you worried about your friends?</p>
<p>Are you worried that a close friend or relative might have a gambling problem? Please contact our support department. They can help set both you and the person you are worried about on the right track.</p>
<p>Independent organizations</p>
<p>Here you will find contact information to organizations that can help gamblers, people with a gambling addiction, and their family and friends.</p>
<p><strong>GamCare</strong><br />
Web: www.gamcare.org.uk<br />
E-mail: info@gamcare.org.uk<br />
Helpline: (+44) 0808 8020 133<br />
Phone: (+44) 020 7378 5200 Fax: (+44) 020 7378 5237</p>
<p><strong>Gordonhouse</strong><br />
Web: www.gordonhouse.org.uk / www.gamblingtherapy.org<br />
E-mail: help@gordonhouse.org.uk / webmaster@gamblingtherapy.org<br />
Phone: (+44) 01384 241292</p>
<p>GA Gamblers Anonymous Tel: 0207 384 3040 www.gamblersanonymous.org.uk<br />
Gam-Anon Tel: 08700 50 88 80 www.gamanon.org.uk</p>
 


                        </div>
                    </div>
                    <!--/.Card Info-->
                    
                </div>
            </div>

            <hr class="extra-margins">

   
        </div>
        <!--/.Main layout-->


    </main>

   <%- include('footer'); %>

 
