<%- include('header'); %>
    <main>

        <!--Main layout-->
        <div class="container">
        <hr class="extra-margins">
            <!--First row-->
            <div class="row" >
                <div class="col-md-12">
                    <!--Card Info-->
                    <div class="card card-main  z-depth-2" >
                        <div class="card-block pages">
                            <h1 class="h1-responsive" >Terms and Conditions</h1>

    <p><b>01. Introduction</b></p>
<p><span class="s2">1. <a href="https://woodbingo.com/">woodbingo.com</a></span> is operated by Throwing Wood Media N.V. and licensed in Curacao, licence number 8048/JAZ2014-050</p>
<p>2. This agreement fixes the conditions concerning the contractual relationship between woodbingo and a person which registers as a woodbingo player. Every player is obliged to personally accept these General Terms and Conditions to create an account at woodbingo and is bound during the whole time to keep the player’s account active or the player preserves his account.</p>
<p>3. woodbingo reserves the right to change these General Terms and Conditions and specific game-related rules at any time and without notice to adjust or change. We do our best to inform our players when important changes occur in the General Terms and Conditions. However, the player is at any time responsible to check the General Terms and Conditions for any applicable changes. If a player, as a result of any applicable changes, no longer wishes to use the services of woodbingo they are free to have his credit refunded and close his account.</p>
<p>4. The contractual relationship is between the registered player and woodbingo and is governed by these General Terms and Conditions and by the laws of <span class="s4">Curaçao</span>.</p>
<p><b>02. Rules concerning your account</b></p>
<p>1. Any player who creates an account or register with woodbingo must be at least 18 years old. If you are resident in a country which applies a minimum age limit of 21 years, then you need to comply with this minimum age.</p>
<p>2. Players who create an account at woodbingo agree with these General Terms and Conditions and confirm that they will: – not to act in the interest of a third party; – not play or use of money or resources which have been obtained from criminal activities or crime; – not use credit cards, bank accounts, bank cards or other means of payment for which they are not authorized or have not obtained legal authorization to use them. – not try to crack or hack the website, games or other parts of woodbingo or to make abuse of the code in any other manner; – not take part in or organizing possible criminal action against woodbingo, or one of its subsidiary companies and/or its players.</p>
<p>3. If a player does not respect one or more rules as mentioned in points 2.1, 2.2 and 2.3 woodbingo will close the account and confiscate the outstanding credit.</p>
<p>4. It is the responsibility of a player when opening an account and playing at woodbingo to ensure that he/she does not infringe any law and adheres to the legal age limit in the player’s jurisdiction.</p>
<p>5. To be able to open an account at woodbingo a potential player must fill in the online registration form on the website in a complete and accurate manner and read and accept the General Terms and Conditions as described on www.woodbingo.com</p>
<p>6. The player must supply truthful information at the time of registration. A player must also keep the information up to date and is obliged to inform woodbingo of any changes to personal player data.</p>
<p>7. If you open or attempt to open more than one account, for whatever reason, woodbingo may block or close any or all of your accounts at its discretion. Should woodbingo decide to leave one account open, it will be the first account that you opened in most cases with woodbingo, to which your remaining deposits, if any, will be transferred. woodbingo will deduct an administrative fee of 10% (minimum EUR 30) for every other account you opened as well as any other deductions that may apply in accordance with our Terms&amp;Conditions.</p>
<p>8. woodbingo may, at its own discretion and without any justification, refuse to open an account or close an existing account.</p>
<p>9. All bingo accounts opened at woodbingo use only transactions in Euro.</p>
<p>10. Credit balances in player accounts will not bear interest and shall not treat the Operator as a financial institution. Furthermore, woodbingo does not grant any credit for the use of its services.</p>
<p>11. It is at any time the responsibility of the player to register its profits and report to the appropriate and designated authorities if the player finds himself in a jurisdiction where profits are charged with gambling taxes.</p>
<p>12. A player must keep at all times their log in credentials secret and protect their data in an optimal way to prevent abuse. woodbingo advises new players to choose a username and password with at least six characters where numbers and letters are alternated.</p>
<p>13. Once a bet is placed it is deemed irrevocable and accepted. The bet and the result are then valid and irreversible.</p>
<p>14. woodbingo reserves the right to investigate and find out the identity of its players whenever deemed necessary. woodbingo may request the player to submit documentation in order to verify the identity of the player. Examples include the submission of certified copies such as a coloured copy of a passport, driving license, bank statement, utility bill not older than six months, debit cards or other credentials that are currently applicable.</p>
<p>15. An inactive account is an account that has not been accessed for 12 months, that has a real money balance. A dormant account is an account that has not been accessed for 30 Months, that has a real money balance. woodbingo will contact you should your account become inactive. If, after 12 months since last login, we are unable to contact you, woodbingo will charge a Eur 5.00 per month administrative fee on your account and shall use reasonable efforts to contact you. If, after woodbingo have begun charging your account with the Administrative Fee, and before your account becomes dormant, you start playing on your account, woodbingo will refund to your account the administrative fees charged. Once your account becomes dormant, if we have been unable to contact You, woodbingo, in accordance with the applicable law, shall close your account and transfer your remaining account balance to woodbingo.</p>
<p>16. An account must be verified if: – A player requests cumulative withdrawals exceeding EUR 450, – A player makes a deposit using a credit card which does not correspond to the details provided at registration.</p>
<p>17. A player is free to close permanently or temporarily his/her account to protect against excessive or problematic play behaviour. Funds held by the player at that moment will be frozen or if the account is closed permanently, will be confiscated.</p>
<p><b>03. Deposits, Transfers and withdrawals.</b></p>
<p>1. To make a deposit to your bingo account at woodbingo, you first need to create an account and verify on the received e-mail. Once your account is approved, you will be able to deposit money directly into your bingo account at woodbingo.</p>
<p>2. You can deposit money in your bingo account at woodbingo only via any payment method specified on site. The name on the payment method must be identical to the name provided on the player’s account. If these names do not match the deposit will be rejected and the money will be refunded. Any possible cost charged for this transaction will be deducted from the amount due.</p>
<p>3. It is only allowed to deposit funds on the bingo account to play at woodbingo. Suspicious activity on a bingo account could lead to reporting the concerned player to the relevant authorities. In such case woodbingo may freeze the player account, close the player account and/or confiscate the credit and winnings on the account</p>
<p>4. Actions in the form of bonus as part of a promotion can be placed in the bingo player’s account from time to time. These bonuses cannot be withdrawn but should be used to bet on bingo games. A bonus which is granted should be used within a period of 356 days unless other written conditions have been communicated to the player.</p>
<p>5. No credit can be transferred from one bingo player’s account to another bingo player’s account.</p>
<p>6. A player may at any time, 7 days a week and 24 hours a day log into his bingo account where they can see an overview of all transactions such as deposits, bonuses, earnings, placed bets and withdrawals. If a player considers that there is an error in the statement then he should immediately notify woodbingo so that the error can be checked and possibly corrected. A player must always report such an error to woodbingo within 90 days from the moment the error occurred.</p>
<p>7. A player may at any time choose to withdraw the credit on his bingo account. woodbingo may charge transaction costs depending on the frequency of the requests and the value of the amount. A player will always be informed in advance.</p>
<p>8. Withdrawals will only be wired to the same bank account used to make a deposit. In cases where a deposit method does not have a corresponding withdrawal method, the player must provide documentation for the purposes of verification before such a request can be granted</p>
<p>9. woodbingo targets to process all payments within 48 hours. This means that woodbingo does not hold money and wires the money within 48 hours to the bank. As from that moment it may take 2 to 5 working days before the money reaches the player’s bank account.</p>
<p>10. A player who deposits with a credit card can always be requested to identify themselves and provide details of the credit card used The account can be temporarily blocked and withdrawals frozen until the documents have been received and verified by woodbingo. This process is generally used once per credit card.</p>
<p>11. A maximum amount of EUR 2,500.00 per day will be paid.</p>
<p>12. A player cannot withdraw if he has not made any bets. A player must always have his deposit used to bet at least once in order to be able to withdraw.</p>
<p>13. woodbingo reserves the right to reject a withdrawal if A player has not provided proof of identity or if the credit card used has not been verified or if a player has provided incomplete or incorrect data.</p>
<p>14. Before a transaction can be finalized in the form of a withdrawal to a player, the transaction is checked whether it is lawful and not in favour of “laundering” money.</p>
<p><b>04. Rules concerning placing bets</b></p>
<p>1. A bet can be only placed by a player with an active and approved bingo account at woodbingo.</p>
<p>2. A bet can only be placed on the Internet and using the software provided on the website of woodbingo.</p>
<p>3. A bet can only be placed by a player who has enough money (credit) on his bingo account at woodbingo.com to be able to place a bet.</p>
<p>4. The bet will, once placed, be subject to the General Terms and Conditions of woodbingo in force at the time of placing the bet.</p>
<p>5. A bet is accepted when the player has received confirmation from woodbingo on his computer or other method which provides access to the woodbingo.</p>
<p>6. The player confirms that, when he made a bet or wager, they had no knowledge about the outcome of the game in question or that they have taken no action to influence the outcome of the game. If woodbingo suspects violation of this rule, it retains the right to confiscate all player funds and winnings .woodbingo also reserves the right to take further steps and to protect its legitimate interests and to meet other laws and regulations.</p>
<p>7. woodbingo reserves the right to refuse wagers without providing any reason.</p>
<p>8. We encourage all players to read the relevant rules and game tutorials before you start a game and place a bet. It is not allowed to play jackpot games with multiple screens or tabs.</p>
<p>9. A bet that has been placed and accepted cannot be changed, withdrawn or cancelled by the player.</p>
<p>10. An error or mistake regarding a placed wager or wagers will not affect the validity of the bet. Once the bet has been accepted, the player can no longer adjust or change the bet.</p>
<p>11. When a player places a bet, he also acknowledges that he has read and understood the General Terms and Conditions and game rules regarding the placed bet as stated by woodbingo on the website.</p>
<p>12. woodbingo manages the account of the player and calculates the credit thus the available funds, current credit, credit of the bet and the amount of the profits from bets. Unless proven otherwise they shall be considered as definitive and accurate.</p>
<p>13. The player is fully liable and responsible for the bets he places on the Internet. woodbingo will never ask a player to the relevance or accuracy of a bet placed by a player and cannot be held responsible for any mistakes made during the conclusion of certain wagers or placing bets including errors relating to the placed amounts or betting option (such as colour, card number, etc.) that a player has selected.</p>
<p>14. Profits will be paid by woodbingo on the bingo account of the player after the final outcome has been confirmed. woodbingo reserves the right to freeze profits if an investigation on the outcome of a game should be performed as a result of suspected criminal activities that have influenced the outcome of the game. If the irregularity is confirmed then woodbingo reserves the right to declare invalid all related bets or wagers and take other measures allowed by law.</p>
<p>15. If woodbingo becomes aware that a player places bets or plays from multiple accounts that the player has unlawfully opened then all bets will be declared invalid. woodbingo reserves the right to take further action if deemed necessary.</p>
<p>16. If a bet that exceeds the specified maximum is wrongly accepted, then the amount will be disregarded and the bet will be adjusted and the difference be refunded to the player.</p>
<p>17. woodbingo offers live bingo games. This requires live streaming at a certain minimum bandwidth for a perfect execution and display of the game and offers the player active and timely participation of the betting features. It is recommended to players only to participate if the required bandwidth is achieved to best be able to participate in the live bingo games.</p>
<p>18. It is strictly forbidden to make use of so-called bots or other (electronic) devices to place bets or play games so the outcome may be affected.</p>
<p><b>05. Aborted games</b></p>
<p>1. If a player’s equipment breaks down or Internet disconnects after a bet has been accepted on the system of woodbingo then the bet will remain valid and the bet will be completed. The player will be able to check the outcome after he has recovered his equipment or Internet connection and re-logged into his bingo account.</p>
<p>2. If in one of the systems of woodbingo an error occurs when betting before an outcome is given then all accepted bets will be declared invalid and refunded on the bingo accounts of players who have placed bets.</p>
<p><b>06. Responsible Gaming</b></p>
<p>1. The player may at their discretion choose to exclude themselves from playing any games on the website.</p>
<p>2. Players can also impose a ceiling on maximum losses. The limit will block deposits if the net deposit limit (deposits-withdrawals) has been exceeded for the selected time period.</p>
<p>3 Should the player opt for self-exclusion in the manners contemplated above then you will not be able to open the account during the exclusion period. The exclusion agreement can be found here:</p>
<p>4 Any self-exclusion request would be valid for woodbingo.com</p>
<p>5 Any self-exclusion notice, whether given in writing or electronically, increasing or revoking a limit and/or decreasing the exclusion shall have effect only after seven (7) days from when woodbingo receives the above mentioned notice.</p>
<p><b>07. Copyright</b></p>
<p>1. All pictures, text and illustrations shown on woodbingo are registered trademarks of woodbingo. Abuse of the logo or use of the house style without the consent of woodbingo will result in legal prosecution.</p>
<p>2. All content on the website of woodbingo and the URLs associated with the website are the property of woodbingo. Any unauthorized reproduction or abuse of this URL or its content will result in legal prosecution.</p>
<p><b>08. Liability</b></p>
<p>1. woodbingo is only liable in case of gross negligence or intentional actions taken by management or its employees.</p>
<p>2. If the player breaches any provision of these Terms and Conditions, woodbingo has a reasonable ground to suspect that the User has breached them.</p>
<p>3. woodbingo is not responsible for the consequences of major incidents such as but not limited to strikes, terrorist activities, political crises, war, and the saturation of the telecommunications networks or natural disasters that can lead to a complete or partial reduction of access to services on the Internet or by phone.</p>
<p>4. woodbingo cannot be held responsible for the consequences caused by failures of a device or software, directly managed or outsourced, which could lead to a complete or partial reduction of the access of services over the Internet or by phone.</p>
<p>5. In case of a mistake or negligent act of woodbingo in relation to these General Terms and Conditions, the compensation that will be made available to the player will not be higher than the available funds in the bingo account of the player or the value of bets placed with respect to the fault or negligence.</p>
<p>6. If one or more paragraphs of the General Terms and Conditions of this agreement is declared invalid by a recognized Court of Justice then the remaining General Terms and Conditions will remain valid.</p>
<p>7. These General Terms and Conditions constitute the entire agreement between woodbingo and the Player and supersede all prior written or verbal agreements communicated by woodbingo.</p>
<p>8. woodbingo accepts no liability for damage to a player or a third party directly or indirectly from an error, misprint, and malfunction of the software on the woodbingo website or any of its affiliates and / or partners.</p>
<p><b>09. Privacy Policy</b></p>
<p>1. woodbingo uses and processes your personal data only and exclusively for the aims for which they have been registered, namely to offer an optimum and extremely safe online bingo service to you as a bingo player.</p>
<p>2. woodbingo does not share your data with third parties or external parties with exception of cases where we by the <span class="s5">Curaçao</span> law or legal procedures will be required to disclose your personal details. woodbingo may also disclose your data if we believe that publication is necessary for the public interest and in case of abuse of our service.</p>
<p><b>10. Complaints</b></p>
<p>1. woodbingo will make efforts at any time to offer a player a pleasant and welcoming stay with us. If you as a player still feel unsatisfied in a certain situation about the quality of our product or service of our helpdesk or service staff then we will be glad to hear from you. In this case we ask you to send an e-mail to our customer service to info@woodbingo.com.</p>
<p>2. You understand that the latter measure can only be involved in cases of very serious nature and that reports of complaints to the <span class="s5">Throwing Wood Media N.V.</span> can only be accepted in case of very high escalations.</p>
<p><b>11. Anti-money laundering reporting</b></p>
<p>1. If woodbingo will suspect any kind of act of Money Laundering, bingo will freeze the account immediately and take further actions. woodbingo shall report any suspicious transaction to the relevant competent authorities in <span class="s4">Curaçao</span>. If You become aware of any suspicious activity relating to any of the Games of the Website, You must report this to woodbingo immediately. woodbingo may suspend, block or close Your player account and withhold funds if requested to do.</p>
<p><b>12. Assignment</b></p>
<p>woodbingo reserves the right to assign or otherwise lawfully transfer this agreement. The player has no right to assign or otherwise transfer this agreement.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>woodbingo.com is operated by Throwing Wood Media N.V. and licensed in Curacao, licence number 8048/JAZ2014-050</p>



                        </div>
                    </div>
                    <!--/.Card Info-->
                    
                </div>
            </div>

            <hr class="extra-margins">

   
        </div>
        <!--/.Main layout-->


    </main>

   <%- include('footer'); %>

 
