/* YOUR CUSTOM STYLES */
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');
body{background-color:#004253; /*padding:10px;*/}
.bgcolor{background-color:#ffffff; border:4px #ababab solid;}
.colBorder{border-right:0.5rem #004253 solid;}
.noborder{border-bottom:0px;}
.chatSec{background-color: #004253; position:relative;margin:10px 0px;color:#ffffff;padding:11px 5px 10px 60px;border-radius:5px; min-height:48px;}
.chatSec img{ position:absolute;top: -7px;left: -10px;}
.chatSec span.redColor{color:#d61414;}	
.chatSec span.nam{color: #fe0098;font-size: 18px;font-weight: bold;}
.msgBox span.msg{height:60px; display:block; font-size:20px;}
.msgBox span.userName{display:block; text-align:right;}
.msgBox{background-color:#000000;color: #ffffff; padding:10px; margin-bottom:20px;border-radius:5px; min-height:104px;}
.euro{font-size:1rem; font-weight:bold; padding-left:20px;}
.msgBox .creditBox a.glass{float:right;}
.msgBox .creditBox span{line-height:36px;}
.msgBox .creditBox{margin-bottom:6px;}
.option{text-align:center;}
.option a{margin-bottom:5px}
.roomHead{text-align:center; padding:5px 0px;border-top:0.5rem #004253 solid; border-bottom:0.5rem #004253 solid;}
.roomHead span{color:#F00;}
.roomTxtBox{padding:0 1rem;}
.titleTxt{font-size:16px; font-weight:bold;}
.titleTxt span{color:#019a01;}
.titleTxt span.status_C{color:#6e3e0d;}
.roominfoTxt {font-size:14px; }
.roominfoTxt .Time{color:#ff0101; font-size:1rem; font-weight:bold;}
.roominfoTxt .rounds{color:#0134cd;font-size:12px; font-weight:bold; float:right; text-align:right;}
.roominfoTxt .price{color:#004253;font-size:12px; font-weight:bold;}
.roomPrice{color:#004253; font-size:14px;font-weight: normal; padding-right:10px;}
.elven{display:block;}
.btnWrap{float:left; width:78%; margin-top:6px;}
.BuyBook{float:right; width:20%; text-align:center;}
.selectedBook{background-color: #004253;color: #FFF;border-radius: 30px;display: block;padding: 1px;font-size: 1rem;font-weight: bold;}
.selectedColor_1{background-color: #0011cb;border-radius: 30px;display: block;font-size: 1rem;/*width:48px; height:48px;*/}
.selectedColor_2{background-color: #66ffff;border-radius: 30px;display: block;font-size: 1rem;/*width:48px; height:48px;*/}
.colorBox{    width: 21%;
    height: 20px;
    float: left;
    margin-bottom: 6px;
    border: 1px solid #999;
    margin-right: 6px;
    border-radius: 1%;}
.color_1{background-color:#fc4000;}
.color_2{background-color:#9b0298;}
.color_3{background-color:#4e2900;}
.color_4{background-color:#fd02b1;}
.color_5{background-color:#00f05b;}
.color_6{background-color:#429022;}
.color_7{background-color:#0011cb;}
.color_8{background-color:#00c1ff;}
.pinWrap{margin-top: 15px;}
.pinWrap a{    font-size: 1.6rem;
    line-height: 18px;
    margin-right: -10px;}
.pin_1{color:#e80000;}
.pin_2{color:#000000;}
.pin_3{color:#66ffff;}
.pin_4{color:#dc248e;}
.pin_5{color:#ffd700;}
.pin_6{color:#49b41a;}
.pin_7{color:#022b84;}
.pin_8{color:#3e1314;}
.pin_9{color:#ea2300;}
.pin_10{color:#004209;}	

.enterRoom{text-align:center; /*margin-top:20px;*/ position: absolute;bottom: 0;}
/*gray glassy Button*/
.glass{position: relative;	display: inline-block;	padding: 6px 20px;	background:linear-gradient(#000,#888);text-decoration: none;color: #fff;font-size: 16px;font-family: sans-serif;font-weight: bold;border-radius: 20px;box-shadow: 0px 1px 4px -2px #333;text-shadow: 0px -1px #333;}
.glass:after{
	content: '';
	position: absolute;	top: 2px;left: 2px;	width: calc(100% - 4px);border-radius: 20px 20px 0px 0px;height: 50%;background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));}

.glass:hover{background: linear-gradient(#666,#ccc); color:#ccc;}


.blackglass{position: relative;	display: inline-block;	padding: 1px 15px;	background:linear-gradient(#999,#004253);text-decoration: none;color: #fff;font-size: 1rem;font-family: sans-serif;font-weight: bold;border-radius: 20px;box-shadow: 0px 1px 4px -2px #000;text-shadow: 0px -1px #000; margin-bottom:6px; margin-right:3px;}
.blackglass:after{
	content: '';
	position: absolute;	top: 2px;left: 2px;	width: calc(100% - 4px);border-radius: 10px 10px 0px 0px;height: 50%;background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));}

.blackglass:hover{background: linear-gradient(#333,#666); color:#ccc;}
.pinWrap a:hover{color:#ccc;}
/*gray glassy Button*/

/*five Cols*/
.col-md-15 {width: 20%;float: left;}
/*Six Cols*/
.col-md-16 {width: 16.666%;float: left;}
.badge{color:#666 !important; margin-left:3px;padding-left:2px;}
/* Bingo 90 cards */
.allCardsWrapClose{padding-top:30px;background:url(/assets/img/close.png) no-repeat top right; }
.balls_wrp{background:url(/assets/img/ring.png) no-repeat top right; height:98px; float:right; padding-right:70px;}
.topLeftBtnWrap{float:right;height:97.5px; overflow:hidden;}
.topLeftBtn{     background: #eee; display:block;
    background: -webkit-linear-gradient(#ccc, #fff);
    background: -o-linear-gradient(#ccc, #fff);
    background: -moz-linear-gradient(#ccc, #fff);
    background: linear-gradient(#ccc, #fff);
    padding: 4px 6px;
    font-size: 14px;
    color: #000;
    border-radius: 0px 4px 4px 0px; 
	}
.closeWindow{color:#F00; border-left:1px solid #999; padding-left:4px;}
.balls{background-color: #ffff01;color: #000;padding: 2px 6px;border-radius: 12px;font-size: 14px;}
.topLeftBtnWrap .rounds{background-color: #64f503;}		


.cardBoxT {
  background-color:#b1c7d2;
    border-radius: 5px;

    font-size:12px; margin-top:1px; margin-left:20px;
}
.cardBoxT span{    border: 1px solid #666;
    float: left;
    width: 11.1%;
    height: 26px;
    text-align: center;

    padding: 3px 0px;

    /*border-right: 0px;
    border-top: 0px;*/ border-radius: 15%;}
.cardBoxT span.bingoBox{color: white;
    text-shadow: 1px 1px 2px blue;
    -webkit-box-shadow: 0 0 18px #e37703 inset;
    -moz-box-shadow: 0 0 18px #e37703 inset;
    box-shadow: 0 0 18px #e37703 inset;
    background-color: #f6aa58;}
.cardBoxT span.selectedBox{color: white;
    text-shadow: 1px 1px 2px blue;
    -webkit-box-shadow: 0 0 18px #e74c3c inset;
    -moz-box-shadow: 0 0 18px #e74c3c inset;
    box-shadow: 0 0 18px #e74c3c inset;
    background-color: #fa9d93;
    border-radius: 15%;}	
.cardBoxT span.freeBox{color: white;
    text-shadow: 1px 1px 2px blue;
    -webkit-box-shadow: 0 0 18px #6cb03b inset;
    -moz-box-shadow: 0 0 18px #6cb03b inset;
    box-shadow: 0 0 18px #6cb03b inset;
    background-color: #a3f06c;}	
/*#full_view[class='col-md-6']{*/
#full_view .col-md-6{
    width: 16.66% !important;
    float: left;
} 
@media screen and (min-width: 768px){
    #full_view .col-md-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 16.66%;
        -ms-flex: 0 0 16.66%;
        flex: 0 0 16.66%;
        max-width: 16.66%;
    }
}
/*@media (min-width: 576px){
    #full_view .col-md-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}*/
.cardBoxT span:first-child{border-left:0px;}
.cardBoxT span:nth-child(19) { border-left:0px; border-bottom:0px;}	
.cardBoxT span:nth-child(27) { border-bottom:0px;}
.botom_infoTxt{padding:10px; font-size:18px;}	
.botom_infoTxt a{color:#fff; padding-right:30px;}
/*chat room page*/
.ChatCol{position:relative; margin-top:18px; border: 3px #f0f0f0 solid; width: 98%;}
.ChatCol img{position:absolute; left:-35px; top:-2px;}
.ChatCol span{height:44px; font-size:18px; line-height:36px;    }
.infoBoxWrap{background-color:#FFF; border-radius:20px; position:relative; padding:24px 15px 15px;}
.boxtitle{    position: absolute;
    font-family: 'Fascinate Inline', cursive;
    font-size: 24px;
    top: -15px;
    left: -8px;
    color: #fce540;
    background-color: #000;
    border-radius: 26px;
    padding: 0px 12px;}
.winner-title{
    font-family: 'Fascinate Inline', cursive;
    font-size: 24px;
    color: #fce540;
    background-color: #000;
    border-radius: 26px;
    padding: 0px 12px; 
}
.online{    background: #035c21;
    background: -webkit-radial-gradient(#1bd158, #059836, #035c21);
    background: -o-radial-gradient(#1bd158, #059836, #035c21);
    background: -moz-radial-gradient(#1bd158, #059836, #035c21);
    background: radial-gradient(#1bd158, #059836, #035c21);
    height: 15px;
    width: 15px;
    float: left;
    border-radius: 8px;
    margin-top: 4px;
    margin-right: 5px;}	
.playersList{margin:0px;height:192px; overflow:auto;}
.winnerBox{margin-top:18px; min-height: 105px;}
.playerOverFlow{}
.ChatBoxWrap{}
@media only screen  and (max-width : 1187px) {
	.msgBox .creditBox a.glass{float:none; width:100%; text-align:center;}
	.option a{width:100%;}
}
@media only screen  and (max-width : 767px) {
	.col-md-15 {width: 100%;float: none;}
	.col-md-16 {width: 100%;float: none;}
	
}
/*@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}*/
/*five cols closed*/
.chatRoomTxt{height: 255px; overflow:auto;}
.floatLedt{float:left; margin:0px; width:80%;}
.floatLedt input{padding:3px; margin:0px;}
.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}
.action-button {
	position: relative;
	padding: 5px 10px;
	margin: 0;
	float: left;
	border-radius: 10px;
	font-size: 16px; width:20%; text-align:center;
	color: #FFF;
	text-decoration: none;
}
.blue {
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.action-button:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	border-bottom: 1px solid;
}
#rolling_ball{
    float: right;
    margin-top: 0.65rem;
}
#rolling_ball > div { margin-left:-1rem; margin-right:-11rem;
    width: 5rem;
    height: 5rem; float: left;
    position: relative;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    transition: all ease-in-out 2s;
    }
    #rolling_ball > div > h3 {
    position: absolute;
    font-size: 1.5rem;
    left: 20%;
    top: 30%;
    color: #333;
    width: 2em;
    text-align: center;
}
.matched-cell{
    background-color: #04B431; 
    border-radius: 50%;
    background: -webkit-radial-gradient(5px 5px, circle, #04B431, #333) !important;
    background: -moz-radial-gradient(5px 5px, circle, #04B431, #333) !important;
    background: radial-gradient(5px 5px, circle, #04B431, #333) !important;
    color: #fff;
    /*font-size: 1rem;*/
}
.modal-head{
    background: url('/assets/img/woodbingo_logo_sm.png') no-repeat center;
    background-color: #999;
}
.modal-bg{
    background: url('assets/img/wave.png');
}
.bg_load {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #EEE;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.wrapper {
    /* Size and position */
    font-size: 25px; /* 1em */
    width: 8em;
    height: 8em;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;

    /* Styles */
    border-radius: 50%;
    background: rgba(255,255,255,0.1);
    border: 1em dashed rgba(138,189,195,0.5);
    box-shadow: 
        inset 0 0 2em rgba(255,255,255,0.3),
        0 0 0 0.7em rgba(255,255,255,0.3);
    animation: rota 3.5s linear infinite;

    /* Font styles */
    font-family: 'Racing Sans One', sans-serif;
    
    color: #444;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 .04em rgba(255,255,255,0.9);
    line-height: 6em;
}

.wrapper:before,
.wrapper:after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: inherit;
    box-shadow: inset 0 0 2em rgba(255,255,255,0.3);
    border: 1em dashed;
}

.wrapper:before {
    border-color: rgba(138,189,195,0.2);
    top: 0; right: 0; bottom: 0; left: 0;
}

.wrapper:after {
    border-color: rgba(138,189,195,0.4);
    top: 1em; right: 1em; bottom: 1em; left: 1em; 
}

.wrapper .inner {
    width: 100%;
    height: 100%;
    animation: rota 3.5s linear reverse infinite;
}

.wrapper span {
    display: inline-block;
    animation: placeholder 1.5s ease-out infinite;
}

.wrapper span:nth-child(1)  { animation-name: loading-1;  }
.wrapper span:nth-child(2)  { animation-name: loading-2;  }
.wrapper span:nth-child(3)  { animation-name: loading-3;  }
.wrapper span:nth-child(4)  { animation-name: loading-4;  }
.wrapper span:nth-child(5)  { animation-name: loading-5;  }
.wrapper span:nth-child(6)  { animation-name: loading-6;  }
.wrapper span:nth-child(7)  { animation-name: loading-7;  }

.marquee{
    border: 5px solid #eee;
    padding: 10px;
    margin-top: 10px;
    background: #fbc846;
    color: #fff;
        font-size: 1.5rem;
    /*animation: marquee 50s linear infinite;*/
}
.marquee-row{
        position: absolute;
    bottom: 10px;
    right: 0;
    margin-right: 0rem;
    width: 67%;
}
.footer{
    background: #00c1ff;
    border: 5px solid #eee;
}
#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 20px;
  padding-top: 5px
}

#clockdiv > div{
  padding: 5px;
  border-radius: 3px;
  background: #fbc846;
  display: inline-block;
}

#clockdiv div > span{
  padding: 5px;
  border-radius: 3px;
  background: #004253;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}
@keyframes rota {
    to { transform: rotate(360deg); }
}
.spinit {
    -webkit-animation: rotation 2s infinite linear !important;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(360deg);}
    to   {-webkit-transform: rotate(0deg);}
}
@keyframes loading-1 {
    14.28% { opacity: 0.3; }
}

@keyframes loading-2 {
    28.57% { opacity: 0.3; }
}

@keyframes loading-3 {
    42.86% { opacity: 0.3; }
}

@keyframes loading-4 {
    57.14% { opacity: 0.3; }
}

@keyframes loading-5 {
    71.43% { opacity: 0.3; }
}

@keyframes loading-6 {
    85.71% { opacity: 0.3; }
}

@keyframes loading-7 {
    100% { opacity: 0.3; }
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(10,130,10,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(10,120,10,0.5); 
}