/* YOUR CUSTOM STYLES */
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');
header nav {
  background: #059dcf !important;
}
/* bg Box */
.boxWrap { margin-top:2%; background: #0099cc;position: relative; width:55%;}
.boxWrap:after,.boxWrap:before {  content: '';  background: #005776; position: absolute;}
.boxWrap:after { width: 100%; height: 20px; left: 10px; bottom: 0; transform: translatey(100%) skewx(45deg);}
.boxWrap:before { width: 20px;  height: 100%;  right: 0;  transform: translatex(100%) skewy(45deg);  top: 10px;}  

/* bg Box */
.boxWrap75 { margin:3% 5%; background: #0c6d96;position: relative; float:left;  width:40%;}
.boxWrap75:after,.boxWrap75:before {  content: '';  background: #01384a; position: absolute;}
.boxWrap75:after { width: 100%; height: 10px; left: 5px; bottom: 0; transform: translatey(100%) skewx(45deg);}
.boxWrap75:before { width: 10px;  height: 100%;  right: 0;  transform: translatex(100%) skewy(45deg);  top: 5px;}  

/* bg Box closed */
.boxTitle {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0086b6, #00698f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0086b6, #00698f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0086b6, #00698f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0086b6, #00698f); /* Standard syntax */
    font-family: 'Oswald', sans-serif; text-align:center; 
    color:#fff; font-size:24px; padding:6px 15px; text-transform:uppercase; font-weight: normal;
}
.leftSideBox, .rightSideBox{width:100%;}
.leftSideBox{border-right:1px solid #005776; padding-bottom:50px;}
.adsWrap{ margin:0 auto; width:235px;}
.adsWrap img{border:4px solid #23a7d3;}
.allRommsList a{padding:3px 12px; font:14px; color:#FFF; display:block; width:50%;}
.allRommsList li{margin-top:7px;}

.allRommsList{padding:10px 20px;}
.allRommsList a.selected { background: #ff6600;position: relative;}
.allRommsList a.selected:after,.allRommsList a.selected:before {  content: '';  background: #a84300; position: absolute;}
.allRommsList a.selected:after { width: 100%; height: 4px; left: 3px; bottom: 0; transform: translatey(100%) skewx(45deg);}
.allRommsList a.selected:before { width: 5px;  height: 100%;  right: 0;  transform: translatex(100%) skewy(45deg);  top: 2px;} 


.accountInfoBox{padding:15px; width:102%;}
.accountInfoBox { background: #ff6600;position: relative;}
.accountInfoBox:after,.accountInfoBox:before {  content: '';  background: #a84300; position: absolute;}
.accountInfoBox:after { width: 100%; height: 20px; left: 10px; bottom: 0; transform: translatey(100%) skewx(45deg);}
.accountInfoBox:before { width: 20px;  height: 100%;  right: 0;  transform: translatex(100%) skewy(45deg);  top: 10px;} 

.accountInfoBoxWhite{background-color:#FFF; padding:20px;
 border-left:12px solid #94300e;
  border-top:13px solid #d64214;
   border-bottom:4px solid #94300e;
    border-right:2px solid #94300e; margin-bottom:15px;
 }
.accountInfoBoxWhite span{padding-right:10px;}
.inputBox{float:left;     width: 45%;    margin-right: 18px;;}
.accountInfoBoxWhite .inputBox .txt{padding: 5px 10px;box-sizing: border-box;
 border-left:4px solid #999;
  border-top:4px solid #999;
   border-bottom:1px solid #ddd;
    border-right:1px solid #ddd;
}
{}
.transferBtn{background: #2fb3eb;position: relative; color:#FFF;text-transform:uppercase;text-align:center; display:block; width:30%; padding:0px 8px; margin:0 auto; font-size:28px; line-height:28px; clear:both; margin-top:20px; margin-bottom:10px;}
.transferBtn:after,.transferBtn:before {  content: '';  background: #036182; position: absolute;}
.transferBtn:after { width: 100%; height: 4px; left: 3px; bottom: 0; transform: translatey(100%) skewx(45deg);}
.transferBtn:before { width: 5px;  height: 100%;  right: 0;  transform: translatex(100%) skewy(45deg);  top: 2px;} 

.roomListRow:hover{ background: #ff6600 !important;position: relative;}
.roomListRow:hover:after,.allRommsList a:hover:before {  content: '';  background: #a84300; position: absolute;}
.roomListRow:hover:after { width: 100%; height: 4px; left: 3px; bottom: 0; transform: translatey(100%) skewx(45deg);}
.roomListRow:hover:before { width: 5px;  height: 100%;  right: 0;  transform: translatex(100%) skewy(45deg);  top: 2px;}

.allRommsList a:hover{ background: #ff6600;position: relative;}
.allRommsList a:hover:after,.allRommsList a:hover:before {  content: '';  background: #a84300; position: absolute;}
.allRommsList a:hover:after { width: 100%; height: 4px; left: 3px; bottom: 0; transform: translatey(100%) skewx(45deg);}
.allRommsList a:hover:before { width: 5px;  height: 100%;  right: 0;  transform: translatex(100%) skewy(45deg);  top: 2px;}

.refreshBtn{margin-top:20px;}
.refreshBtn a{ background: #2fb3eb;position: relative; color:#FFF;text-transform:uppercase;font-family: 'Oswald', sans-serif; text-align:center; display:block; width:50%; padding:4px 15px; margin:0 auto;}
.refreshBtn a:after,.refreshBtn a:before {  content: '';  background: #036182; position: absolute;}
.refreshBtn a:after { width: 100%; height: 4px; left: 3px; bottom: 0; transform: translatey(100%) skewx(45deg);}
.refreshBtn a:before { width: 5px;  height: 100%;  right: 0;  transform: translatex(100%) skewy(45deg);  top: 2px;} 

.footer-copyright{text-align:center; color:#FFF; font-size:12px;}
.roomBoxWrap{padding:20px; height:628px; overflow:auto;}
/*.roomListRow { border-bottom:1px solid #03a4da;
  background: -webkit-linear-gradient(#059dcf, #18a4d2, #019ccd); 
  background: -o-linear-gradient(#059dcf, #18a4d2, #019ccd); 
  background: -moz-linear-gradient(#059dcf, #18a4d2, #019ccd); 
  background: linear-gradient(#059dcf, #18a4d2, #019ccd);  padding:10px;
}*/
.roomListRow {
    border-bottom: 4px solid rgba(255,255,255,.8) !important;
  border-radius: 4px !important;
  background: rgba(255, 255, 255, 0.3) !important;
}
.roomDetailsLeft,.roomDetailsRight{float:left; padding-left:10px; padding-top:5px; color:#FFF; }
.roomDetailsRight{ text-align:center;}
.roomListRow img{float:left;}
.roomDetailsLeft span{ padding-right:20px; font-size:24px;}
.roomTitle{color:#733991;}
.roomDetailsLeft span.cardsRoom, .roomDetailsRight span.cardsRoom{display:block; font-size:16px; clear:both;}
.roomDetailsLeft i.cardPrice{color:#733991; padding-right:24px;font-style: normal;}
.open{background: #035c21;
    background: -webkit-radial-gradient(#1bd158, #059836, #035c21);
    background: -o-radial-gradient(#1bd158, #059836, #035c21);
    background: -moz-radial-gradient(#1bd158, #059836, #035c21);
    background: radial-gradient(#1bd158, #059836, #035c21);
    height: 15px;
    width: 15px;
    float: left;
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 5px;}
.busy{background: #f3272c;
    background: -webkit-radial-gradient(#f3272c, #c91217, #650205);
    background: -o-radial-gradient(#f3272c, #c91217, #650205);
    background: -moz-radial-gradient(#f3272c, #c91217, #650205);
    background: radial-gradient(#f3272c, #c91217, #650205);
    height: 15px;
    width: 15px;
    float: left;
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 5px;} 
.numofPlayers,.numofBalls{color:#733991;font-style: normal;}    
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
@media only screen  and (max-width : 767px) {

}   

/* bingo 75 chat */

.cardBox75 {
  background-color:#114189; color:#9a0101;border-right: 1px solid #ababab;border-top: 1px solid #ababab;
    font-size:12px; margin-top:1px; margin-left:1px; position:relative; padding:15px 4px 4px 4px;
}
.cardBox75 img{position:absolute; top:1px; left:1px; width:100%;height: 14px;}

.cardBox75 span{border: 1px solid #ababab;
    float: left;
    width: 20%; font-size:15px;
    height: 25px; line-height:30px;
    text-align: center;background-color:#fff;
    border-right: 0px;
    border-top: 0px;}
.cardBox75 span.bingoBox{color: white;background-color: #ff99ff;}
.cardBox75 span.selectedBox{background-color: #ff99ff;} 
.cardBox75 span i{font-size:24px;color: #cc0099; line-height:28px;}

.infoBoxWrap75{background-color:#39ace0; border-radius:20px; position:relative; padding:15px 15px 15px; margin-top:20px; width:100%;
border-right: 10px solid #001a25;
    border-top: 3px solid #001a25;
    border-bottom: 10px solid #001a25;
}
.infoBoxWrap75 .boxtitle{    position: absolute;
    font-family: 'Fascinate Inline', cursive;
    font-size: 15px;
    top: -15px;
    left: -15px;
    color: #fff;
    background-color: #39ace0;
    border-radius: 20px; line-height:15px;
    padding: 0px 20px;
  border-right: 10px solid #001a25;
    border-top: 2px solid #001a25;
    border-left: 10px solid #001a25;
  }
  
.watchWrap  {float:left; width:44%; margin-top:3%;}
.watchWrap img{width:100%;}
.roominfoTxt75{  color: #fff;
    font-size: 15px;
    border-bottom: 1px solid #fff;
    padding: 1px;}
.roominfoTxt75  span{text-align:right; float:right;}

.cardChatBox75 {
 border-right: 1px solid #234187;border-top: 1px solid #234187;
    font-size:12px; margin-top:1px; margin-left:1px; position:relative;
}
.cardchatBox75 span{border: 1px solid #234187;
    float: left;
    width: 20%; font-size:12px;
    height: 24px; line-height:18px;
    text-align: center;
    border-right: 0px;
    border-bottom: 0px;}
.cardchatBox75 span:nth-child(1),
.cardchatBox75 span:nth-child(2),
.cardchatBox75 span:nth-child(3),
.cardchatBox75 span:nth-child(4),
.cardchatBox75 span:nth-child(5) {border-top:0px;}  
.cardchatBox75 .selectedBox{color:#fade29;}
.cardchatBox75 .bingoBox{color:#ff7a1f;}  
.boxTitle75 {
    background: #0086b6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0086b6, #00698f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0086b6, #00698f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0086b6, #00698f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0086b6, #00698f); /* Standard syntax */
  font-family: 'Oswald', sans-serif; text-align:center; 
  color:#fff; font-size:18px; padding:0; text-transform:uppercase; font-weight: normal;
}
.midBtnsWrap{margin:5px 0;}
.midBtnsWrap .roominfoTxt75{  color: #000; float:left;font-size: 16px; margin-right:10px; padding:0px;}
.midBtnsWrap .roominfoTxt75 span{text-align:right; float:right;}
.midBtnsWrap .roominfoTxt75:nth-child(1){background-color:#0c6d96; color:#fff; width:10%;padding: 2px 15px;}
.midBtnsWrap .roominfoTxt75:nth-child(2){background-color:#0c6d96; color:#fff; width:13%;padding: 2px 15px;}
.midBtnsWrap .roominfoTxt75:nth-child(6){width:28%;}

.cashierBtn{text-align: right; padding-right: 5px; padding-top: 10px;}

.cashierBtn .btnsBlue{ background: #2fb3eb;position: relative; color:#FFF;text-transform:uppercase;font-family: 'Oswald', sans-serif; text-align:left; padding:2px 25px; margin:0 auto;}
.cashierBtn .btnsBlue:after,.cashierBtn .btnsBlue:before {  content: '';  background: #036182; position: absolute;}
.cashierBtn .btnsBlue:after { width: 100%; height: 4px; left: 3px; bottom: 0; transform: translatey(100%) skewx(45deg);}
.cashierBtn .btnsBlue:before { width: 5px;  height: 100%;  right: 0;  transform: translatex(100%) skewy(45deg);  top: 2px;}




.midBtnsWrap .btnsBlue{ background: #2fb3eb;position: relative; color:#FFF;text-transform:uppercase;font-family: 'Oswald', sans-serif; text-align:left; display:block; width:100%; padding:2px 15px; margin:0 auto;}
.midBtnsWrap .btnsBlue:after,.midBtnsWrap .btnsBlue:before {  content: '';  background: #036182; position: absolute;}
.midBtnsWrap .btnsBlue:after { width: 100%; height: 4px; left: 3px; bottom: 0; transform: translatey(100%) skewx(45deg);}
.midBtnsWrap .btnsBlue:before { width: 5px;  height: 100%;  right: 0;  transform: translatex(100%) skewy(45deg);  top: 2px;}


.midBtnsWrap .btnsorange{ background: #f7931e;position: relative; color:#FFF;text-transform:uppercase;font-family: 'Oswald', sans-serif; text-align:left; display:block; padding:2px 15px; margin:0 auto;}
.midBtnsWrap .btnsorange:after,.midBtnsWrap .btnsorange:before {  content: '';  background: #ac5a12; position: absolute;}
.midBtnsWrap .btnsorange:after { width: 100%; height: 4px; left: 3px; bottom: 0; transform: translatey(100%) skewx(45deg);}
.midBtnsWrap .btnsorange:before { width: 5px;  height: 100%;  right: 0;  transform: translatex(100%) skewy(45deg);  top: 2px;}

.marqueeTxt{background-color: #29abe2;margin-top: 1%; height:44px; color: #fff; font-size: 16px; position:relative; padding:5px 10px; line-height:36px;}
.marqueeTxt i{position:absolute; font-size:34px; background-color: #29abe2; padding:0 10px 0px 0px; z-index:1;}
.playersWrap75{padding:10px; background-color:#29abe2; margin-top:10px; min-height:265px;overflow-y: auto;
    max-height: 265px;}
.playersWrap75 h3{color:#fff;text-transform:uppercase;font-family: 'Oswald', sans-serif; text-align:center;}

.playersWrap75 ul li{ background: #1f919c;position: relative; color:#FFF;text-align:center; display:block; width:90%; padding:2px 15px; margin:8px auto 0px;}
.playersWrap75 ul li:after,.playersWrap75 ul li:before{  content: '';  background: #104d53; position: absolute;}
.playersWrap75 ul li:after{ width: 100%; height: 4px; left: 3px; bottom: 0; transform: translatey(100%) skewx(45deg);}
.playersWrap75 ul li:before{ width: 5px;  height: 100%;  right: 0;  transform: translatex(100%) skewy(45deg);  top: 2px;}

.chatarea75{border:6px solid #0c6d96; padding:20px; background: #fff;}
.chat75Box{height:130px; overflow:auto;    }
.floatLedt{float:left; margin:0px; width:77%;}
.floatLedt input{padding:3px; margin:0px;}
.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}
.action-button {
  position: relative;
  padding: 5px 10px;
  margin: 0;
  float: right;
  border-radius: 10px;
  font-size: 16px; width:10%; text-align:center;
  color: #FFF;
  text-decoration: none;
}
.blue {
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
}

.action-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
}
.chatarea75 a{margin-left:10px;}

.midBtnsWrap75 .roominfoTxt75 span{width:50%;}
.midBtnsWrap75 .btnsBlue{text-align:center;}
.midBtnsWrap75 .roominfoTxt75:nth-child(1){color:#fff; width:14%;padding: 0px; background:none;}
.midBtnsWrap75 .roominfoTxt75:nth-child(2){color:#fff; width:14%;padding: 0px; background:none;}
.midBtnsWrap75 .roominfoTxt75:nth-child(4),.midBtnsWrap75 .roominfoTxt75:nth-child(5){color:#fff; width:30%;padding: 2px 15px; background-color:#0c6d96;text-transform:uppercase;font-family: 'Oswald', sans-serif;}
.volume75 input{background-color:#fff; height:auto; padding:2px 4px;}


.balls_wrp75{background:url(/assets/img/ballRing.png) no-repeat top right; height:99px; float:right; padding-right:154px;}
/*five Cols*/
.col-md-15 {width: 20%;float: left;}
@media only screen  and (max-width : 767px) {
  .col-md-15 {width: 100%;float: none;}
  .cardBox75 img{/*width:auto;*/}

} 
#users_in_room a, #users_in_room a:hover{
  color:#fff;
}
#rolling_ball > div { margin-left:-1rem; margin-right:-11rem;
    width: 5rem;
    height: 5rem; float: left;
    position: relative;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    transition: all ease-in-out 2s;
        margin-top: 1rem;
    }
.smallball{margin-left:-25rem; margin-right:2rem;
    width: 7rem;
    height: 7rem; float: left;
    position: relative;
    -webkit-animation: spin 30s linear infinite !important;
    -moz-animation: spin 30s linear infinite !important;
    animation: spin 30s linear infinite !important;
    transition: all ease-in-out 2s !important;}
#rolling_ball > div > h3 {
    position: absolute;
    font-size: 2rem;
    left: 10%;
    top: 25%;
    color: #333;
    width: 2em;
    text-align: center;
}
.bingoballright{margin-left:80%;transition:all ease-in-out 2s;}
.matched-cell{
    background-color: #04B431; 
    border-radius: 50%;
    background: -webkit-radial-gradient(5px 5px, circle, #04B431, #333) !important;
    background: -moz-radial-gradient(5px 5px, circle, #04B431, #333) !important;
    background: radial-gradient(5px 5px, circle, #04B431, #333) !important;
    color: #fff;
    /*font-size: 1rem;*/
}
.spinit {
    -webkit-animation: rotation 3s infinite linear !important;
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(360deg);}
    to   {-webkit-transform: rotate(0deg);}
}
/*.roomListRow .row div {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.roomListrow .row div img {
    border-radius: 9999px !important;
    border: 2px solid rgba(255,255,255,.5) !important;
    display: block !important;
    width: 100px !important;
    height: 100px !important;
}

select .room-cards {
    border-radius: 10px !important;
    height: 2em !important;
    width: 5em !important;
    text-align: right !important;
    text-align-last: right !important;
}*/