<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>WoodBingo - Bingo 75 </title>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="/assets/css/mdb.min.css" rel="stylesheet">
    <!-- Custom -->
    <link href="/assets/css/bingo75.css" rel="stylesheet">

    <!-- Template styles -->
    <style rel="stylesheet">
        
        html,
        body {
            height: 100%;
            <% if(Bingo75.url == 'bingo75/rooms') { %>
                background: url(/assets/img/list_img2.png) no-repeat center center fixed;
            <% } else { %> 
                background: url(/assets/img/<%= Bingo75.room_img %>) no-repeat center center fixed;
            <% } %>
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            }

      
    </style>

</head>

<body>


<% if(Bingo75.url == 'bingo75/rooms') { %>
    <header>
    <!--Navbar-->
        <nav class="navbar navbar-toggleable-md navbar-dark top-menu-color">
                    <div class="container">
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <a href="<%= Bingo75.url  %>">
                            <img src="/assets/img/woodbingo_logo.png" class="logo" width="200">
                        </a>
                        <div class="collapse navbar-collapse" id="navbarNav3">
                            <ul class="navbar-nav ml-auto">
                                <!-- <li class="nav-item active">
                                    <a class="nav-link waves-effect waves-light" data-toggle="modal" data-target="#loginModal"><i class="fa  fa-sign-in"></i> Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link waves-effect waves-light" data-toggle="modal" data-target="#regModal"><i class="fa fa-gear"></i> Register</a>
                                </li> -->
                                <li class="nav-item <% if(Bingo75.url =='index') { %> active <% } %>">
                                    <a class="nav-link" href="/"> <i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
                                </li>
                    <% if(Bingo75.user) { %>
                    
                    <li class="nav-item <% if(Bingo75.url =='bingo75') { %> active <% } %>">
                        <a class="nav-link waves-effect waves-light"  href="/bingo75/rooms"> <i class="fa fa-soccer-ball-o"></i> Bingo 75</a>
                    </li>
                    <li class="nav-item <% if(Bingo75.url =='bingo90') { %> active <% } %>">
                        <a class="nav-link waves-effect waves-light" href="/bingo90/rooms"> <i class="fa fa-soccer-ball-o"></i> Bingo 90</a>
                    </li>
                    <% if(Bingo75.user_role == 'admin') { %>
                    <li class="nav-item <% if(Bingo75.url == 'admin') { %> active <% } %>">
                        <a class="nav-link waves-effect waves-light" href="/admin"> <i class="fa fa-cog"></i> Admin</a>
                    </li>
                    <% } %>
                    <li class="nav-item"> 
                        <a class="nav-link waves-effect waves-light" href="/api/logout"><i class="fa fa-sign-out"></i> Logout</a>
                    </li>
                    
                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="#" data-toggle="modal" data-target="#loginModal" > <i class="fa  fa-sign-in"></i> Login</a>
                    </li>
                   
                    <li class="nav-item">
                        <a href="#" class="nav-link waves-effect waves-light" data-toggle="modal" data-target="#regModal"><i class="fa fa-gear"></i> Register</a>
                    </li>
                    <% } %>
                                <!-- <li class="nav-item dropdown btn-group">
                                    <a class="nav-link dropdown-toggle waves-effect waves-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Profile</a>
                                    <div class="dropdown-menu dropdown-default dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
                                        <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
                                        <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </nav>
        <!--/.Navbar-->

    </header>


<% } %>






















































